<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped"">
    <tr>
      <th width="59">Name</th>
      <th width="56">Address</th>
      <th width="93">Phone</th>
      <th width="152">Email</th>
      <td width="152">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i.firstname}}{{lastname}}</td>
      <td>{{i.place}},{{i.post}},{{i.pin}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.email}}</td>
      <td>
        {% if i.lid.type == 'expert' %}
        <p><a href="{% url 'blockuser' id=i.lid.id %}#about" class="btn btn-danger">block</a></p>
        {% else %}
      <p><a href="{% url 'unblockuser' id=i.lid.id %}#about" class="btn btn-primary">unblock</a></p>
      {% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}