<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="{% url 'exeditcode' %}">
  <table class="table table-hover">
    <tr>
      <th width="92">First name </th>
      <td width="149"><label>
        <input type="text" name="fname" value="{{val.firstname}}" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <th>Last name </th>
      <td><label>
        <input type="text" name="lname" value="{{val.lastname}}" class="form-control">
      </label></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><label>
        <input type="text" name="place" value="{{val.place}}" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <th>Post</th>
      <td><label>
        <input type="text" name="post" value="{{val.post}}" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <th>Pin</th>
      <td><label>
        <input type="text" name="pin" value="{{val.pin}}" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <th height="25">Phone</th>
      <td><label>
        <input type="text" name="phone" value="{{val.phone}}" class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <th>email</th>
      <td><label>
        <input type="text" name="email" value="{{val.email}}" class="form-control"/>
      </label></td>
    </tr>

    <tr align="center">
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="ok" class="btn btn-success"/>
          </div>
      </label></td>
    </tr>
  </table>

</form>
</body>
<!--</html>-->
{% endblock %}
