<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<html lang="en">
<head>
<title>login</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Awesome Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="{% static 'login/css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- web-fonts -->
<link href="{% static 'login//fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,vietnamese' %}" rel="stylesheet">
<!-- //web-fonts -->
</head>

 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<body>


{% if messages %}
    {% for message in messages %}

<script>
                    Swal.fire({
                        title:"{{ message }}!",
                        // success , error , warning ,info
                        text: "{{ message }}",
                        // Custom message flashed from your flask routes
                        icon: "success" == "danger" ? "error" : "success"
                        // success , error , warning ,info
                    })
                </script>

    {% endfor %}
{% endif %}



<div data-vide-bg="{% static 'login/video/limg' %}">
	<div class="center-container">
		<!--header-->
		<div class="header-w3l">
			<h1> </h1>
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-content-agile">
			<div class="wthree-pro">
				<h2>Login Now</h2>
			</div>
			<div class="sub-main-w3">	
				<form action="logincode" method="post">
					<input placeholder="username" name="textfield" type="text" required="">
					<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
					<input  placeholder="Password" name="textfield2" type="password" required="">
					<span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
					<div class="rem-w3">
						<!--<span class="check-w3"><input type="checkbox" />Remember Me</span>-->
						<a href="register">Register</a>
						<div class="clear"></div>
					</div>
					<!--<div class="navbar-right social-icons"> -->
							<!--<ul>-->
								<!--<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>-->
								<!--<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>-->
								<!--<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> -->
								<!--<li><a href="#" class="fa fa-pinterest icon-border rss"> </a></li>-->
							<!--</ul>  -->
						<!--</div>-->
					<input type="submit" value="Login">
				</form>
			</div>
		</div>
		<!--//main-->
		<!--footer-->
		<div class="footer">
			<p>&copy; 2017 Awesome Login Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
		<!--//footer-->
	</div>
</div>
<!-- js -->
<script type="text/javascript" src="{% static 'login/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'login/js/jquery.vide.min.js' %}"></script>
<!-- //js -->
</body>
</html>