<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'indexuser.html' %}
{% block body %}

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="view_notification">view notification</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="view_tips">view tips</a></td>-->
    <!--</tr>-->
    <!---->
    <!--<tr>-->
      <!--<td><a href="ask_doubt">ask doubt</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="send_ratings">send rating</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="send_complaint">send complaint and view reply</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="forecasting">Time forecasting</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="right"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
{% endblock %}