<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'indexexpert.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <th width="64">Doubt</th>
      <th width="49">Date</th>
      <th width="47">User</th>
      <td width="85">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i.doubt}}</td>
      <td>{{i.date}}</td>
      <td>{{i.uid.firstname}}{{i.uid.lastname}}</td>
      <td>

        {% if i.reply == 'pending' %}

        <a href="{% url 'repl' id=i.id %}#about" class="btn btn-primary">reply</a>
        {% else %} replied
        {% endif %}





      </td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
